<%- include("_genheader") -%>

<div style="text-align: center;background-color: lightgrey;">
<br><br>
<h4  style="font-size: 45px;">Feedback Submitted</h4>
<img src= "/Images/SmileFace.png" alt= "Fun Picture">
<p>Your feedback has been received!!!<p>
</div>
<br><br>
<%- include("_footer") -%>

